<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStr" connectionString="Data Source=.;Initial Catalog=MvcSolution;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MQHostName" value="localhost" />
    <add key="MQUserName" value="Ican" />
    <add key="MQPassword" value="000000" />
    <!--索引目录-->
    <add key="IndexData" value="c:\WorkSpace\Data\IndexData" />
  </appSettings>
</configuration>