<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- RabbitMq -->
    <add key="mqport" value="5672" />
    <add key="mqhostname" value="192.168.16.160" />
    <add key="mqpassword" value="000000" />
    <add key="mqusername" value="Ican" />
    
    <!-- MongoDb -->
    <add key="MongoHostName" value="192.168.16.160" />
    <add key="MongoDBName" value="mongotest" />
    <add key="MongoPort" value="27017" />
    <add key="MongoChunkSize" value="261120" />
    
  </appSettings>
</configuration>